/* height of the container */
.leaflet-container {
  height: calc(100vh);
  width: calc(100%-200px);
  border-radius: 0;
  /* margin-top: 150px; */
  width:50%;
}
.navbar {
  border-radius: 0;
}

#table{
  
  width:50%;
  height:100vh
}
.value{
  text-align: right;
  font-weight: bold;
}
#title{
  font-size: 15px;
}

table,
th,
td {
  background-color: #222629;
  color: white;
  border: 1px solid #86C232;
  border-collapse: collapse;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;

}
td{
  background-color: #6B6E70;
}
th{
  background-color: #86C232;
  color:white;
  font:Times, serif;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
}
table {
  font-family: Georgia;
  background-color: #25274D;
  border-collapse: separate;
  border-radius: 10px;
  width:100%;
}
#charttitle{
  font-family: Georgia;
  font-size: 20px;
  color:whitesmoke;
  background-color: #86C232;
  border: 2px solid #25274D;
  text-align: center;
  border-radius:5px;
}
.float{
  float: left;
}
.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-brand, .sidebar .nav-link {
  font-family: Arial, sans-serif;
  font-size: 1rem;
}
.sidebar {
  position: fixed;
  top: 40px;
  left: 0;
  /* width: 200px; */
  width: 100%;
  padding: 1rem 0;
  /* height: calc(100% - 56px);
  overflow-y: auto; */
  z-index: 500;
}
/* .main-content {
  margin-left: 190px;
  margin-top: 56px;
  height: calc(100vh - 56px);
  width: 90%;
  overflow-y: auto;
} */
.custom-text {
  margin-top: -2px;
  margin-right: -75px;
  font-weight: bold; 
  font-size: 18px;
  color: #f0ad4e;
}

/* Welcome Page */
.welcome-modal {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background-color: #f0ad4e;
}
.welcomelogo {
  max-width: 100%; 
  margin-bottom: 20px;
  max-height:70vh;
}
.button-container {
  display: flex;
}
.welcome-modal button {
  height:8vh;
  width:25vh;
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer;
  margin:1vw;
}
.welcome-modal button:hover {
  background-color: black;
  color:white;
}
.state-name-tooltip {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 6px;
  border-radius: 3px;
}
.legend-container {
  text-align: center;
  margin-bottom: 5px;
}
.tooltip-container {
  margin-top: 300px; 
}
.legend-text {
  display: block;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}
.map-and-legend-container {
  display: flex;
  align-items: start;
  justify-content:  flex-start;
  margin-top: -10px;
  position: relative;
  height: calc(100vh - 62px);
  overflow:hidden;
}
.map-container {
  flex-grow: 1;
  height: 100%;
}
.map-legend {
  max-width: 75%;
  height: auto;
  margin-right: 10px;
  margin-left: 15px;
}

/* Navbar */
.ms-2custom-text {
  font-size: 30px;
  color:orange
}
.form-label {
  font-size: 20px;
}
option {
  font-size: 15px;
}
.form-control {
  font-size: 15px;
}
.custom-tooltip {
  font-size: 1.25rem !important;
  padding: 10px !important;
}
.main-container {
  display: flex;  /* Enables Flexbox */
  width: 100%;  /* Full width of the container */
  height: auto;  /* Adjust height based on content */
}

.left-container {
  flex: 1;  /* Flex grow to take up half the space */
  width: 50%;
  /* Optionally, set specific dimensions or padding as needed */
}

.right-container {
  flex: 1;  /* Flex grow to take up half the space */
  width: 50%;
  /* Optionally, set specific dimensions or padding as needed */
}