/* height of the container */
.leaflet-container {
  height: calc(100vh);
  width: calc(100% - 200px);
  border-radius: 0;
  width: 50%;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  height: 100px;
}

.value {
  text-align: right;
  font-weight: bold;
  font-size: 16px;
}

#title {
  font-size: 24px;
  font-weight: bold;
}

table, th, td {
  background-color: #222629;
  color: white;
  border: 1px solid orange;
  border-collapse: collapse;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
}

td {
  background-color: #6B6E70;
}

#title {
  background-color: orange;
  color: white;
  font: Times, serif;
  font-size: 30px;
  text-align: center;
}

th {
  background-color: orange;
  color: white;
  font: Times, serif;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  font-weight: bolder;
}

table {
  font-family: Georgia;
  background-color: #25274D;
  border-collapse: separate;
  border-radius: 10px;
  width: 100%;
}

.main-container {
  display: flex;
  width: 100%;
  height: auto;
}

.left-container {
  width: 35%;
}

.right-container {
  width: 65%;
}

.slider-container {
  width: 100%;
  padding: 10px;
}

.slider {
  width: 95%;
  margin: auto;
  display: block;
}

/* Styles for responsive behavior */
@media (max-width: 768px) {
  .left-container, .right-container {
    width: 100%;
  }
  .slider {
    width: 90%;
  }
}

/* Additional styling to enhance visuals */
.navbar-container, .welcome-modal, .button-container, .legend-container, .tooltip-container, .map-and-legend-container, .map-container, .map-legend, .form-label, .form-control, .custom-tooltip {
  /* Add your styles here if necessary */
}

/* Welcome Page */
.welcome-modal {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background-color: #f0ad4e;
}

.welcomelogo {
  max-width: 100%; 
  margin-bottom: 20px;
  max-height: 70vh;
}

.button-container {
  display: flex;
}

.welcome-modal button {
  height: 8vh;
  width: 25vh;
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer;
  margin: 1vw;
}

.welcome-modal button:hover {
  background-color: black;
  color: white;
}

.state-name-tooltip {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 6px;
  border-radius: 3px;
}

.legend-container {
  text-align: center;
  margin-bottom: 5px;
}

.tooltip-container {
  margin-top: 300px; 
}

.legend-text {
  display: block;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.map-and-legend-container {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  margin-top: -10px;
  position: relative;
  height: calc(100vh - 62px);
  overflow: hidden;
}

.map-container {
  flex-grow: 1;
  height: 100%;
}

.map-legend {
  max-width: 75%;
  height: auto;
  margin-right: 10px;
  margin-left: 15px;
}

/* Navbar */
.ms-2custom-text {
  font-size: 30px;
  color: orange;
}

.form-label {
  font-size: 20px;
  margin-top: 30px;
}

option {
  font-size: 15px;
}

.form-control {
  font-size: 15px;
}

.custom-tooltip {
  font-size: 1.25rem !important;
  padding: 10px !important;
}

/* Specific district row styles */
.district-row {
  color: white;
  font-family: Georgia;
  font-size: 12px;
}

#threshold, #labelthresh {
  font-size: 15px;
  text-align: center;
  font: Times, serif;
  color: black;
}

form, input, label, p {
  color: white !important;
}
